.border{
    border-style: solid;
    border-color: rgb(107, 43, 255);
    width: 550px;
    height: 500px;
    box-shadow: 4px 4px 4px 4px ;
}
h1{
    margin-left: 20px;
}
.border2{
    width: 500px;
    height: 130px;
    margin-left: 18px;
    margin-top: 10px;
}
.border3{
    width: 500px;
    height: 100px;
    margin-left: 18px;
    margin-top: 15px;
}
.border4{
    width: 500px;
    height: 100px;
    margin-left: 18px;
    margin-top: 10px;
}
.border4 label{
    width: 100px;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 5px;
}
.border2 label{
    width: 100px;
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    -webkit-margin-collapse: no;
}
#label1{
    margin-top: 10px;

}
.first{
    width: 100px;
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 5px;
}
button{
    margin-left: 30px;
    margin-top: 30px;
    width: 200px;
}
legend{
    color: rgb(61, 27, 255);
}
fieldset{
    padding-bottom: 1px;
}