.container{
    width: 25%;
    margin: 0 auto;
    text-align: center;
}
.logo{
    width: 100%;
    text-align: center;
    color: blue;
}
.abc{
    width: 45%;
    height: 30px;
}
.background{
    background-color: aliceblue;
}
.card{
    width: 30%;
    margin:  0 auto;
    text-align: center;
    background-color: rgb(255, 255, 255);
    height: 450px;
    border-radius: 7px;
    box-shadow: 0px 0px 10px;
}
.circle{
    width: 300px;
    border-radius: 4px;
    height: 30px;
}
.label{
    margin-left: 2%;
}